:root {
  --bg-color: #e9e9e9ff;
  --fg-color: white;
  --div-border-radius: 25px;
  --button-border-radius: 100vw;
  --button-border: 1px solid #00000099;
  --inner-margin: 10px;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}

@font-face {
  font-family: "RedHatText";
  src: url("fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "FiraCode";
  src: url("fonts/Fira_Code/FiraCode-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "RedHatText", monospace;
}

button {
  width: fit-content;
  padding: 0.5rem 1rem;
  border: var(--button-border);
  border-radius: var(--div-border-radius);
  background: none;
  cursor: pointer;
  font-family: inherit;
}

/* Centralize and fit the container */
img {
  display: flex;
  margin: auto;
  max-width: 100%;
}

.button-type-1 {
  transition: 0.3s;
}

.button-type-1:hover {
  color: white;
  background-color: black;
}

.button-type-2 {
  border: none;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.button-type-2:hover {
  background-color: black;
  color: white;
}

.button-type-3 {
  width: 100%;
  text-align: start;
  border-radius: 5px;
  background-color: var(--bg-color);
  /* border: none; */
  /* background-image: linear-gradient(to right, var(--bg-color), var(--fg-color)); */
}

::-webkit-scrollbar {
  /* Code mirror gets wonky if we use em */
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  background: var(--fg-color);
  border: var(--button-border);
  margin-block: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: var(--bg-color);
  border: var(--button-border);
}

#app {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--inner-margin);
}

/* Theory tab on the left */
#theory-tab {
  display: flex;
  flex-direction: column;
  width: 25%;
  max-width: 25%;
  padding: 30px;
  margin: var(--inner-margin);
  background-color: var(--fg-color);
  border-radius: var(--div-border-radius);
  box-shadow: var(--box-shadow);
}

#project-name {
  display: none;
}

#tab-content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 1em;
  height: 100%;
}

#tab-content h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #d1d9e0b3;
}

#tab-content h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d1d9e0b3;
}

#tab-content h3 {
  font-weight: 600;
  font-size: 1.25em;
}

#tab-content h4 {
  font-weight: 600;
  font-size: 1em;
}

#tab-content h5 {
  font-weight: 600;
  font-size: 0.875em;
}

#tab-content h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: #59636e;
}

#tab-content blockquote {
  margin: 0;
  padding: 0 1em;
  color: #59636e;
  border-left: 0.25em solid #d1d9e0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

#tab-content pre {
  padding: 1rem;
  font-size: 85%;
  line-height: 1.45;
  color: #1f2328;
  background-color: #f6f8fa;
  border-radius: 6px;
}

#tab-content pre code {
  text-wrap: wrap;
  background: transparent;
  padding: 0;
  margin: 0;
  overflow: visible;
}

#tab-content hr {
  border-bottom: 1px solid #d1d9e0b3;
  color: #d1d9e0b3;
  width: 100%;
  height: 0.25em;
  padding: 0;
  margin: 0;
  background-color: #d1d9e0;
  box-sizing: border-box;
}

/* @TODO: finish */
#tab-content table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  border-color: gray;
}

#tab-content thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

#tab-content table th {
  font-weight: 600;
}

#tab-content table tr {
  background-color: #fff;
  border-top: 1px solid #d1d9e0b3;
}

#tab-content table th,
#tab-content table td {
  padding: 6px 13px;
  border: 1px solid #d1d9e0;
}

#tab-content tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.tab-content-edit-mode {
  white-space: pre-wrap; /* preserve identation and white spaces */
}

#project-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  gap: 10px;
}

#project-buttons button {
  padding: 0.25rem 0.75rem;
}

/* Editor tab on the right, arranged vertically */
#editor-tab {
  flex: 1;
  display: grid;
  grid-template-rows: 45% 55%;
}

#editor-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  margin: var(--inner-margin);
  background-color: var(--fg-color);
  border-radius: var(--div-border-radius);
  box-shadow: var(--box-shadow);
}

#editor-buttons {
  display: flex;
  background: var(--fg-color);
  padding: 10px 10px 10px 40px;
  border-radius: var(--div-border-radius) var(--div-border-radius) 0 0;
}

#editor-buttons button {
  border: var(--button-border);
  border-color: transparent;
}

#editor-buttons button.active {
  border: var(--button-border);
  border-radius: var(--button-border-radius);
}

#shader-controls {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin: 20px 40px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* Code editor panel (top) */
#code-panel {
  overflow: auto;
  height: 100%;
  border-radius: 0 0 var(--div-border-radius) var(--div-border-radius);
}

#shader {
  height: 100%;
}

#geometry {
  display: none;
  padding: 20px;
}

#gfx-panel {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#view-panel {
  flex: 1;
  display: flex;
  padding: 0;
  margin: var(--inner-margin);
  border-radius: var(--div-border-radius);
  box-shadow: var(--box-shadow);
}

#canvas {
  flex: 1;
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}

#channels-panel {
  display: grid;
  gap: 8px;
  max-width: fit-content;
  flex: 1;
  margin: var(--inner-margin);
}

.tex-actions {
  display: flex;
  gap: 5px;
  margin: 10px 15px 10px auto;
}

.tex-btn {
  padding: 0.25rem 0.5rem;
}

.tex-slot {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--fg-color);
  border-radius: var(--div-border-radius);
  box-shadow: var(--box-shadow);
}

.tex-label {
  align-self: flex-start;
  padding: 0.25rem 1.25rem;
  background-color: var(--fg-color);
  border: inherit;
  border-top: 0;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: var(--box-shadow);
}

.tex-slot.dragover {
  outline: 2px dashed #007acc;
}

/* Codemirror style */

.cm-editor * {
  font-family: "FiraCode", monospace;
  font-size: 0.95em;
}

.cm-editor {
  height: 100%;
}

.cm-gutters {
}

.cm-gutter.cm-lineNumbers {
  color: black;
}

.cm-gutterElement {
  text-align: right !important;
}

.cm-activeLineGutter {
}

.cm-activeLine {
}

.cm-selectionMatch {
}

/* Dropwdown */

.dropdown {
  display: none;
  padding: 10px;
}

.dropdown-show {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Vec components style */

.vec-components {
  display: flex;
  gap: 8px;
}

.cam-components {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 4px;
}

.vec-component label {
  display: flex;
  gap: 5px;
}

.vec-component input {
  max-width: 50px;
  margin-left: auto;
  border-radius: 3px;
  border: 1px solid black;
}

.vec-component input::-webkit-inner-spin-button,
.vec-component input::-webkit-inner-spin-button {
  margin: 0;
  display: none;
}
